.cardLink {
  text-decoration: none;
}

.cardLong {
  width: 250px;
  height: 90px;
  background: var(--greenBgContainer);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
  backdrop-filter: blur(10px);
  transition: 0.3s ease-in-out;
}

.cardLong:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: var(--greenBg);
}

.cardLong .img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background: linear-gradient(#d7cfcf, #9198e5);
  background-position: center;
  background-size: cover;
}

.cardLong .textBox {
  width: calc(100% - 90px);
  margin-left: 20px;
  color: white;
}

.textBox p {
  margin: 8px 0;

}

.cardLong .textContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .cardLong {
    width: 300px;
  }
}