table {
  margin: 0;
  padding: 0;
  border: 1px solid #ddd;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  /* font-size: 1.2rem; */
  /* text-align: center; */
}
table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  /* letter-spacing: 0.1em; */
  text-transform: uppercase;
}
