.containerRow {
  /* padding: 0 1rem; */
}
.containerRow img {
  border-radius: 5px;
}

@media (max-width: 980px) {
  .containerRow,
  .conteudoRow {
    flex-wrap: wrap;
    justify-content: center;
    /* text-align: center; */
  }
  .containerRow img {
    order: -1;
    margin-bottom: 20px;
  }
}
