.containerRow img {
  border-radius: 5px;
}

@media (max-width: 980px) {
  .containerRow,
  .conteudoRow {
    flex-wrap: wrap;
    justify-content: center;
  }
  .containerRow img {
    order: -1;
  }
}
