.intro-conteudo {
  background-image: url('../../assets/images/banners/banner-perobaGrande2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 480px;
}

.intro-conteudo div h1 {
  color: var(--greenBgContainer);
  text-align: center;
}

.card-intro {
  display: none;
}

.container-logos img {
  height: 70px;
}

@media (max-width: 768px) {
  .card-intro {
    display: block;
    border: 0;
    padding-bottom: 0;
  }

  .intro-conteudo {
    flex-direction: column;
  }

  .intro-textImg {
    align-self: center;
  }

  .intro-conteudo h1 {
    padding-left: 10px;
  }

  .container-logos img {
    height: 40px;
  }
}
