.intro-conteudo {
  background-image: url('../../assets/images/banners/banner-perobaGrande.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 400px;
  font-family: 'Inter';
}
.intro-conteudo div h1 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--greentext);
}
.card-intro {
  display: none;
}

@media (max-width: 768px) {
  .card-intro {
    /* border-radius: 10px; */
    display: block;
  }
  .intro-conteudo {
    text-align: center;
    flex-direction: column;
    gap: 20px;
    /* background: none; */
  }
}
