.intro-conteudo {
  background-image: url('../../assets/images/banners/banner-perobaGrande.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 400px;
}
.intro-conteudo div h1 {
  color: var(--greentext);
  text-align: center;
}
.card-intro {
  display: none;
}

@media (max-width: 768px) {
  .card-intro {
    /* border-radius: 10px; */
    display: block;
  }
  .intro-conteudo {
    flex-direction: column;
  }
  .intro-conteudo h1 {
    padding-left: 10px;
  }
}
