.sidebar {
  width: 260px;
  background-color: var(--greenBg);
  padding: 0;
  margin: 0;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar div {
  background-color: var(--greenDetail);
  height: 150px;
  padding-top: 30px;
}

.sidebar div img {
  width: 90px;
  height: 90px;
  display: block;
  margin: auto;
  border-radius: 50%;
  object-fit: cover;
  filter: drop-shadow(1px 2px 3px #121212);
  -webkit-filter: drop-shadow(1px 2px 3px #121212);
}

.sidebar a {
  display: block;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 16px;
  display: flex;
  color: rgba(255, 255, 255, 0.7);
  flex-direction: row;
  align-items: center;
  transition: ease-in-out 0.4s;
}
.sidebar a svg {
  margin-right: 0.5rem;
}

.sidebar a:hover {
  background-color: var(--greenBgContainer);
  color: var(--grayTextlight);
}

.content {
  margin-left: 260px;
  padding: 1px 16px;
}

@media screen and (max-width: 600px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  div.content {
    margin-left: 0;
  }
  .sidebar a {
    float: left;
  }

  .sidebar div {
    display: none;
  }

  .sidebar a svg {
    display: none;
  }
}

/* @media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  .sidebar div {
    display: none;
  }
  .sidebar a svg {
    display: none;
  }
} */
