body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;

  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --grayBglight: #eaeaec;
  --grayTextlight: #fdfff5;
  --greenBg: #1c261e;
  --greenBgContainer: #32402c;
  --greenDetail: #9da65d;
  --greentext: #1c261e;
  --greenCard: #f1f9ff;
}

.bg-green {
  background-color: var(--greenBg);
  color: var(--grayTextlight);
}

.bg-green-light {
  background-color: var(--greenBgContainer);
  color: var(--grayTextlight);
}
.bg-gray {
  background-color: var(--grayBglight);
  color: var(--greentext);
}
