body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --grayBglight: #f7f6fa;
  --grayTextlight: #fdfff5;
  --greenBg: #1c261e;
  --greenBgContainer: #32402c;
  --greentext: #1c261e;
  --greenCard: #d6d8d4;
}

.bg-green {
  background-color: var(--greenBg);
  color: var(--grayTextlight);
}
.bg-gray {
  background-color: var(--greenCard);
  color: var(--greentext);
}
